*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    font-family: cursive;
    height: 600px;
  overflow-y: auto;
  transition: transform 0.6s ease-out;
}
.scroll-content {
  will-change: transform;
}

.tranlateData{
    transform: translateY(-20px);
   
}
.loader-div{
   
     background-color: rgb(90, 54, 54);
    height: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.hero{
    background-image: url(Images/back1.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: none;
}
nav{
    height: 80px;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ListMenu li{
    padding: 10px 20px;
    display: inline-block;
}
.ListMenu h1{
    color: white;
}
.ListMenu a{
    color: white;
    text-decoration: none;
}
#seachtxt{
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}
.serchMenu li{
    list-style: none;
}
.search-div button{
    margin-left: -30px;
    z-index: 1;
    border: none;
}
.sec{
    position: absolute;
    right: 100px;
    top: 200px;
}
.sec-text h1{
    font-size: 5em;
    color: white;
}
.sec-text p{
    font-size: 1em;
    color: white;
}
.aboutbtn{
    padding: 10px 30px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}
.callbtn{
    padding: 10px 30px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}
.callbtn:hover{
      background-color: brown;
    color: white;
}
/* ===============================About========================================== */
.about{
   
    margin: 100px;
    height: 400px;
    display: flex;
    justify-content: space-between;
   

}
.proh1{
    font-size: 3em;
    
    font-weight: bolder;
    margin-bottom: 30px;
}
.about-text .p1{
    color: black;
    font-size: 2em;
    margin-bottom: 10px;
}
.about-text .p2{
    font-size: 1em;
    line-height: 30px;
    margin-bottom: 10px;
}
.about-text  button{
    border: 2px solid brown;
    padding: 15px 30px;
    color: brown;
    border-radius: 5px;
    background-color: transparent;
}
.about-img img{
    height: 400px;
    width: 600px;
}
/* ==========================================Services================================== */
.service{
    margin: 100px;
}
.service-head{
    text-align: center;
}
.service-content{
    display: flex;
    justify-content: space-between;
    gap: 0px 20px;
}
.card{
    height: 400px;
    text-align: center;
    
}
.card-img img{
    height: 250px;
    width: 100%;
}
.card-text{
    margin-top: -5px;
    padding: 20px;
    background-color: rgb(50, 22, 22) ;
    color: white;
}
.card-text:hover{
    background-color: red;
}
.card-text p{
    margin-bottom: 10px;
}
.card-btn{
     border: 2px solid white;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    background-color: transparent;
}

/* ===================================================feedback======================= */

.feedback{
    margin: 100px;
}
.feed-content{
    display: flex;
    gap: 20px;
}

/* ==============================blog================================== */
.blog-div{
     margin: 100px;
}
.blog{
   
    display: flex;
    gap: 30px;
    justify-content: space-between;

}
.blog img{
    width: 100%;
}
.blog-content{
    background-color: white;
    box-shadow: -3px -3px 20px 2px gray;
    padding-bottom: 20px;
}
.blog-content p,h2{
    margin-left: 20px;
}
.blog-content button{
    margin: auto;
    display: block;
    border: 2px solid brown;
    padding: 15px 30px;
    color: brown;
    border-radius: 5px;
    background-color: transparent;
}
/* ==============================contact us====================================== */
.contact-form{
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.form-group{
    width: 600px;
    
    margin: 20px;
}
.form-group input,textarea{
   padding: 20px ;
  background-color: rgb(246, 240, 240);
  border: none;
  border-radius: 50px;
  color: white;
   width: 100%;
   overflow: hidden;

}   
.form-group textarea::placeholder{
    color: black;
    font-size: 1.5em;
    
}
.form-group input::placeholder{
    color: black;
    font-size: 1.5em;
    
}
.form-group button{
    padding: 15px 50px;
    margin: auto;
    display: block;
    background-color: red;
    color: white;
    border:none;
    border-radius: 50px;
}
/* =========================map============================== */
#map1{
    width: 100%;
}
/* =========================fooetr============================= */
.footer-div{
    padding: 50px;
    background-color: brown;
    display: flex;
   flex-direction: column;
   align-items: center;
}
.icon-div button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}
.contact-info{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    font-weight: bolder;
    color: white;
}
.textbox1 {
    margin-top: 50px;
}
.textbox1 input{
    padding: 20px;
    width: 500px;
    
    border: none;
}
.textbox1 button{
    padding: 20px;
    border: none;
    background-color: red;
    color: white;
    margin-left: -5px;
}
.copy-text p{
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    background-color: rgb(206, 69, 69);
    color: white;
}
