.div-service{
    margin: 100px;
    text-align: center;

}
.service-img{
    height: 425px;
    overflow: hidden;
    display: grid;
   margin-top: 100px;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
/* .hover-content{
    height: 425px;
    width: 350px;
    position: relative;
} */
.hover-content img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.hover-text{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 100px;
    text-align: center;
    color: white;
}
.hover-content:hover .hover-text{
    display: block;
}
.hover-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.hover-content:hover::before,
.hover-content:hover .hover-text {
    opacity: 1;
}