*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
   
    
}

.header{
    height: 100px;
    color: white;
    background-color: black;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-menu{
    display: flex;
    justify-content: space-between;
}
.list-item{
    padding: 10px 30px;
}
.yellowbtn{
    padding: 10px 30px;
    font-size: 1em;
    background-color: transparent;
    border: 3px solid orange;
    color: orange;
    border-radius: 5px;
}
.darkbutton{
    padding: 10px 30px;
    font-size: 1em;
    background-color: orange;
    border: 3px solid orange;
    color: gray;
    border-radius: 5px;

}
.yellowbtn:hover{
    background-color: yellow;
    color: black;
}

/* /============================Hero Div===================================== */


.hero-div{
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    height: 700px;
    align-items: center;
    gap: 100px;
    animation: hero-load 3s ease-in ;
   
}
@keyframes hero-load {
    to{
       background-color: transparent;
    }
    from{
         background-color: pink;
        opacity: 0;
    }
}
.hero-text h1{
    font-size: 4em;
}
.hero-text p{
    margin-top: 30px;
    line-height: 30px;
    font-size: 1.5em;
    color: gray;
}
.dark-text{
    font-weight: bolder;
}
.button-grounp{
    margin-top: 30px;
}
.hero-img{
    
    padding:  0px 100px;
    
}
.hero-img img{
     height: 500px;
     width: 500px;
     animation-name: plateRound;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    
}


@keyframes plateRound {
    0%{
        transform: translateX(-300px) rotate(-90deg);
    }
    100%{
         transform: translateX(50px) rotate(0deg);
    }
}
/* ===============================services================================ */
.div-service{
    width: 100%;
    
    padding: 100px;
}
.service-heading{
    text-align: center;
    margin-bottom: 50px;
}
.service-img{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.hover-content {
    /* margin-top: 100px; */
    height: 425px;
    width: 100%;
    position: relative;
}
.hover-content img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.hover-text{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 100px;
}
.hover-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Show text + overlay when hovering */
.hover-content:hover::before,
.hover-content:hover .hover-text {
    opacity: 1;
}

/* ========================Menu========================== */
.menu-div{
    margin: 100px;
    border-bottom: 10px solid rgb(247, 244, 244);
   
}
.menu-item-list{
     display: flex;
    justify-content: center;
    font-size: 2em;
    color:gray ;
    font-weight: bolder;
}
.menu-item{
     padding: 0px 30px;
}
.menu-item:hover{
   
   border-bottom: 5px solid orange;
  
}
.menu-content{
    border-radius: 20px;
    background-color:rgb(247, 244, 244);
    position: relative;
    margin-top: 30px;
    height: auto;
    padding: 100px;
}
.menu-content img{
    position: absolute;
    top: 0;
    right: 0;
    width:  20vw;
    height: 30vh;
    z-index: 1;
    border-top-right-radius: 20px;

}
.menu-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:10px;
}
.grid-head{
    display: flex;
    justify-content: space-between;
}
.price{
    color: palevioletred;
}
.grid-content{
    margin-top: 30px;
    padding: 10px 0;
}
.grid-item{
    padding: 20px;
    border-right: 3px solid rgb(43, 40, 40);
}
.grid-content p{
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
}