
 @media screen and (max-width:765px) {
    nav{
        position: relative;
          display: flex;
           flex-direction: column;
           align-items:flex-start;
          
    }
    .ListMenu{
        width: 100%;
    }
    .ListMenu li{
        padding: 5px 0px;
        display: block;
        text-align: center;
        border-bottom: 1px solid white;
    }
    .serchMenu{
          padding: 5px 0px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid white;
        
    }
    .sec{
        position: absolute;
        left: 20px;
        top: 350px;
    }
    .sec-text h1{
    font-size: 4em;
    color: white;
}
.about{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
}
.service{
    top: 100px;
    position: relative;
}
}